body {
    margin: 0;
}

.card {
    width: 500px;
    height: fit-content;
    background-color: aliceblue;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

img {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 30px;
}

.text {
    font-family: monospace;
}

.main-color {
    color: red;
}